<html>
<head>

</head>
<body>
  <h1>Graphs: </h1>
  <ul>
    <ul>
      <% for(graph of graphs) { %>
          <li>
              <%= "Nodes: " + graph.nodes + ", Edges: " + graph.edges %>
          </li>
      <% } %>
   </ul>
  </ul>
</body>
</html>
