*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
    text-align: right;
}

.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5 ease;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* home section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    align-items: center;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("banner.jpg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .7;
}

.main{
    display: flex;
    flex-direction: column;
    border: transparent;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.heading{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

/* About section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 35px;
    margin-bottom: 50px;
}

#pic{
    display: flex;
}

#pic img{
    width: 400px;
    height: 500px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#intro p{
    height: flex;
}

/* HOBBIES */
#hobbies{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width:  400px;
    height: 400px;
    margin: 15px;
}

#education{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
}    

#education h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#education li{
    list-style-type: circle;
}

#workexperience{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 50px;
}    

#workexperience h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

#workexperience li{
    list-style-type: circle;
}

#projects{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#projects h1,h2{
	color: #527bbd;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa;
}

#projects h1 {
	font-size: 165%;
}

#projects h2 {
	padding-top: 0.8em;
	font-size: 125%;
}

#contact{
    display: flex;
    flex-direction: column;
    padding: 20px;

}

#contact h1,h2{
	color: #527bbd;
	margin-top: 0.7em;
	margin-bottom: 0.3em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	border-bottom: 1px solid #aaaaaa;
}

#contact h1 {
	font-size: 165%;
}

#contact h2 {
	padding-top: 0.8em;
	font-size: 125%;
}


