<html>
    <head>

    </head>
    <body>
        <h1>Manually upload a new graph:</h1>
        <form method="post" action="/graphs">
            ID: <input type="number" name="graphs[nodes][id]"><br>
            Label: <input type="text" name="graphs[nodes][label]"><br>
            <input type="submit" value="Submit">
        </form>

    </body>
</html>
